<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>CADASTRO</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-menu contentId="menu" menuId="menu" side="start" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title>MENU</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-item button routerLink="/sobre">
        <ion-label>SOBRE</ion-label>
      </ion-item>
      <ion-item button routerLink="/contato">
        <ion-label>CONTATO</ion-label>
      </ion-item>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu"></ion-router-outlet>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-button menu="menu"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  