

ion-slides{
size: 80%;
ion-slide{  
    display: flow-root;
    ion-img{
        border-radius: 15px;
        overflow: visible;
        margin-left: 40%;
        padding-top: 80px;
        width: 200px;
        height: 200px;
        margin: auto;
        
        
    }
    h2{
        padding-top: 1%;
    }
    p{
        
        margin-left: 25%;
        text-align: justify;
        width: 50%;
        padding-block-end: 5%;
        height: 50%;
    }
    
}
}
