
<ion-tabs>
    <ion-tab-bar color="" slot="bottom">

      <ion-tab-button tab="noticias">
        <ion-icon name="newspaper-outline"></ion-icon>
        <ion-label>Noticias</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="consultas">
        <ion-icon name="medical-outline"></ion-icon>
        <ion-label>Consultas</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="mapa">
        <ion-icon name="map-outline"></ion-icon>
        <ion-label>Mapa</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="perfil">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
  <ion-menu contentId="menu" menuId="menu" side="start" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title>MENU</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-item button routerLink="/sobre">
        <ion-label>SOBRE</ion-label>
      </ion-item>
      <ion-item button routerLink="/contato">
        <ion-label>CONTATO</ion-label>
      </ion-item>
      <ion-item button routerLink="/home">
        <ion-label>LOGOUT</ion-label>
      </ion-item>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu"></ion-router-outlet>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-button menu="menu"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  