<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>     
    <ion-title>mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map id="mapa"></div>
</ion-content>

<ion-footer>
    <ion-text style="text-align:center;">
      <h6>
        <ion-icon name="fitness-outline"></ion-icon> VETERIMON <br>
        <ion-text color="dark">R. Frei Caneca, 390 - Consolação,  <br>
        São Paulo - SP, CEP: 01307-000 </ion-text>
      </h6>
    </ion-text>
</ion-footer>