<ion-content [fullscreen]="true">
  <ion-toolbar>
      <ion-title>Entre em Contato</ion-title>
  </ion-toolbar>

  <ion-menu contentId="menu" menuId="menu" side="start" type="overlay">
      <ion-header>
          <ion-toolbar>
              <ion-title>MENU</ion-title>
          </ion-toolbar>
      </ion-header>
      <ion-content>
          <ion-item button routerLink="/main/sobre">
              <ion-label>SOBRE</ion-label>
          </ion-item>
          <ion-item button routerLink="/main/contato">
              <ion-label>CONTATO</ion-label>
          </ion-item>
      </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu"></ion-router-outlet>
  <ion-header>
      <ion-toolbar>
          <ion-buttons slot="end">
              <ion-menu-button menu="menu"></ion-menu-button>
          </ion-buttons>
      </ion-toolbar>
  </ion-header>



  <ion-card>
      <ion-card-header>
          <ion-card-title>Para entrar em contato com nosco basta is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
              it to make a type specimen book. </ion-card-title>
      </ion-card-header>
  </ion-card>

  <ion-card>
      <ion-card-header>
          <ion-card-title>Entre em contato através: </ion-card-title>
      </ion-card-header>

      <ion-card-content>
          <ion-icon name="call-outline"></ion-icon> (11)9 9999-9999
          <br>
          <ion-icon name="logo-whatsapp"></ion-icon> (11)8 8888-8888
          <br>
          <ion-icon name="mail-outline"></ion-icon> veterimon@pokemon.com
      </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-header>
          <ion-card-title>Nossas Redes: </ion-card-title>
      </ion-card-header>

      <ion-card-content>
          <center>
              <ion-icon name="logo-instagram" class="instagram"> </ion-icon> &nbsp;
              <ion-icon name="logo-facebook" class="facebook"> </ion-icon> &nbsp;
              <ion-icon name="logo-twitter" class="twitter"> </ion-icon>
          </center>
      </ion-card-content>
  </ion-card>