<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div style="display: flex;" class="ion-justify-content-center">
  <ion-text color="dark">
    <h4>CONTATO</h4>
  </ion-text>
</div>

<ion-content>
  <ion-card-content>
    <form>

      <ion-item>
        <ion-label position="floating">Escreva aqui sua mensagem</ion-label>
        <ion-input type="text" required></ion-input>
        <ion-textarea rows="4" cols="20" placeholder=""></ion-textarea>
      </ion-item>

      <ion-list lines="full">
        <ion-item>
          <ion-label>Dúvida</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Sugestão</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Reclamação</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
      </ion-list>
      <ion-button type="submit" color="danger" expand="block">Enviar</ion-button>
    </form>
  </ion-card-content>
</ion-content>


<ion-card>
  <ion-card-content>
    <ion-text color="dark">
      <h2 style="text-align: center">Redes Sociais</h2>
    </ion-text>
        <div style="display: flex;" class="ion-justify-content-center">
          <ion-icon name="logo-instagram" class="instagram"> </ion-icon>
          <ion-icon name="logo-facebook" class="facebook"> </ion-icon>
          <ion-icon name="logo-twitter" class="twitter"> </ion-icon>
        </div>
  </ion-card-content>
</ion-card>
