<ion-content [fullscreen]="true" color="light">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>


  <ion-content>
    <ion-slides pager="true">
      <ion-slide>
        <ion-img src="/assets/home-logada/img1.png"></ion-img>
        <h2>Noticia 1</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas viverra in urna rutrum maximus. Quisque
          vitae
          ex sed purus volutpat aliquam quis sit amet odio.
          Aenean dignissim tortor risus, porttitor mollis enim viverra non. </p>
      </ion-slide>
      <ion-slide>
        <ion-img src="/assets/home-logada/img2.png"></ion-img>
        <h2>Noticia 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas viverra in urna rutrum maximus. Quisque
          vitae
          ex sed purus volutpat aliquam quis sit amet odio.
          Aenean dignissim tortor risus, porttitor mollis enim viverra non.
        </p>
      </ion-slide>
      <ion-slide>
        <ion-img src="/assets/home-logada/img3.png"></ion-img>
        <h2>Noticia 3</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas viverra in urna rutrum maximus. Quisque
          vitae
          ex sed purus volutpat aliquam quis sit amet odio.
          Aenean dignissim tortor risus, porttitor mollis enim viverra non.
        </p>
      </ion-slide>
      <ion-slide>
        <ion-img src="/assets/home-logada/img4.png"></ion-img>
        <h2>Noticia 4</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas viverra in urna rutrum maximus. Quisque
          vitae
          ex sed purus volutpat aliquam quis sit amet odio.</p>
      </ion-slide>
    </ion-slides>
  </ion-content>