<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>

  <div style="display: flex;" class="ion-justify-content-center">
    <ion-text color="dark">
      <h4>NOTÍCIAS</h4>
    </ion-text>
  </div>

  <ion-grid>
    <ion-row>
      <ion-card>
        <ion-card-content>

          <div style="display: flex;" class="ion-justify-content-center">

            <h2 style>Adotei um Pokémon, e agora?</h2>

            <ion-text color="dark">
              <h3 style="text-align: center">
                Entenda as necessidades do pet nessa fase e saiba como manter os cuidados com gato filhote assim como
                muitos
                outros novos pets, os cuidados com Pokémon filhote são importantes. Principalmente na fase das primeiras
                semanas de vida do [...]

              </h3>
            </ion-text>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row>
      <ion-card>
        <ion-card-content>
          <!-- <img src="/assets/home-logada/img1.png"> -->
          <div style="display: flex;" class="ion-justify-content-center">
            <h2 style>Quais os tipos de radiografia e quando são indicadas?</h2>
            <ion-text color="dark">
              <h3 style="text-align: center">
                Saiba qual é a importância da radiografia em Pokémon e por que elas devem ser feitas quando solicitado
                Sem
                dúvidas, uma das técnicas mais importantes para a medicina veterinária é a radiografia em [...]
              </h3>
            </ion-text>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-content>
          <!-- <img src="/assets/home-logada/img1.png"> -->
          <div style="display: flex;" class="ion-justify-content-center">
            <h2 style>Remédios de humano podem ser dados aos Pokémon? </h2>
            <ion-text color="dark">
              <h3 style="text-align: center">
                Saiba mais sobre os remédios para Pokémon e quais não são indicados para os animais É bastante comum ver
                que alguns tutores recorrem a medicamentos para humanos quando o animal de estimação está com dores ou
                desconfortos. [...]</h3>
            </ion-text>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-card>
        <ion-card-content>
          <!-- <img src="/assets/home-logada/img1.png"> -->
          <div style="display: flex;" class="ion-justify-content-center">
            <h2 style>Adotei um Pokémon, e agora?</h2>
            <ion-text color="dark">
              <h3 style="text-align: center">
                Entenda as necessidades do pet nessa fase e saiba como manter os cuidados com gato filhote Assim como
                muitos
                outros novos pets, os cuidados com gato filhote são importantes. Principalmente na fase das primeiras
                semanas de vida do felino. [...]</h3>
            </ion-text>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>



  <!-- 
      <ion-img src="/assets/home-logada/img2.png"></ion-img>
      <h2>Noticia 2</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas viverra in urna rutrum maximus. Quisque
        vitae
        ex sed purus volutpat aliquam quis sit amet odio.
        Aenean dignissim tortor risus, porttitor mollis enim viverra non.
      </p>

      <ion-img src="/assets/home-logada/img3.png"></ion-img>
      <h2>Noticia 3</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas viverra in urna rutrum maximus. Quisque
        vitae
        ex sed purus volutpat aliquam quis sit amet odio.
        Aenean dignissim tortor risus, porttitor mollis enim viverra non.
      </p>


      <ion-img src="/assets/home-logada/img4.png"></ion-img>
      <h2>Noticia 4</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas viverra in urna rutrum maximus. Quisque
        vitae
        ex sed purus volutpat aliquam quis sit amet odio.</p> -->