ion-card {
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.678);
    overflow: visible;
    margin: 16px 0 30px;
    position: relative;
    padding-top: 80px;
    width: 90%;
    height: auto;
    margin: auto;


    .img-wrapper {
      position: absolute;
      left: 50%;
      top: 5%;
      transform: translateX(-50%);
      img {
        border-radius: 15px;
        width: 80px;
        height: 80px;
        margin: auto;
      }

        ion-icon {
          width: 100px;
          height: 100px;
        }
      }
    }
