<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div style="display: flex;" class="ion-justify-content-center">
    <ion-text color="dark">
      <h4>SOBRE A CLINICA</h4>
    </ion-text>
  </div>

  <ion-card>
    <ion-card-content>
      <div style="display: flex;" class="ion-justify-content-center">
        <img src="./assets/clinica/center.jpg" />
      </div>
      <ion-item-divider></ion-item-divider>
      <ion-text color="dark">
        <h2 style="text-align: center">Nossos profissionais que atuam nas áreas de clínica veterinária e especialidades
          são formados nas melhores Universidades de Medicina Veterinária, com especialização, mestrado e doutorado em
          diversas áreas.
        </h2>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <div style="display: flex;" class="ion-justify-content-center">
    <ion-text color="dark">
      <h4>NOSSOS PROFISSIONAIS</h4>
    </ion-text>
  </div>

  <ion-card color="light">
    <div class="img-wrapper">
      <img src="./assets/vets/1.png" />
    </div>
    <ion-card-content class="ion-text-center">
      <h2>Paloma</h2>
      <ion-text color="medium">
        <div style="display: flex;" class="ion-justify-content-center">
          <ion-icon name="information-outline" color="medium">
          </ion-icon>
          <p>Clinica Geral
          </p>
        </div>
      </ion-text>
    </ion-card-content>
  </ion-card>


  <ion-item-divider></ion-item-divider>

  <ion-card color="light">
    <div class="img-wrapper">
      <img src="./assets/vets/2.png" />
    </div>
    <ion-card-content class="ion-text-center">
      <h2>Patrícia</h2>
      <ion-text color="medium">
        <div style="display: flex;" class="ion-justify-content-center">
          <ion-icon name="information-outline" color="medium">
          </ion-icon>
          <p>Dermatologista
          </p>
        </div>
      </ion-text>
    </ion-card-content>
  </ion-card>


  <ion-item-divider></ion-item-divider>

  <ion-card color="light">
    <div class="img-wrapper">
      <img src="./assets/vets/3.png" />
    </div>
    <ion-card-content class="ion-text-center">
      <h2>Jamille</h2>
      <ion-text color="medium">
        <div style="display: flex;" class="ion-justify-content-center">
          <ion-icon name="information-outline" color="medium">
          </ion-icon>
          <p>Cardiologista
          </p>
        </div>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-item-divider></ion-item-divider>


  <ion-card color="light">
    <div class="img-wrapper">
      <img src="./assets/vets/6.png" />
    </div>
    <ion-card-content class="ion-text-center">
      <h2>Livia</h2>
      <ion-text color="medium">
        <div style="display: flex;" class="ion-justify-content-center">
          <ion-icon name="information-outline" color="medium">
          </ion-icon>
          <p>Endocrinologista
          </p>
        </div>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-item-divider></ion-item-divider>

  <ion-card color="light">
    <div class="img-wrapper">
      <img src="./assets/vets/4.png" />
    </div>
    <ion-card-content class="ion-text-center">
      <h2>Leonardo</h2>
      <ion-text color="medium">
        <div style="display: flex;" class="ion-justify-content-center">
          <ion-icon name="information-outline" color="medium">
          </ion-icon>
          <p>Neurocirurgião
          </p>
        </div>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-item-divider></ion-item-divider>

  <ion-card color="light">
    <div class="img-wrapper">
      <img src="./assets/vets/5.png" />

    </div>
    <ion-card-content class="ion-text-center">
      <h2>Carlos</h2>
      <ion-text color="medium">
        <div style="display: flex;" class="ion-justify-content-center">
          <ion-icon name="information-outline" color="medium">
          </ion-icon>
          <p>Ortopedista
          </p>
        </div>
      </ion-text>
    </ion-card-content>
  </ion-card>