ion-card {
    overflow: visible;

    position: relative;
    padding-top: 70px;
    width: 90%;
    height: auto;
    margin: auto;


    .img-wrapper {
      position: absolute;
      left: 50%;
      top: -1%;
      transform: translateX(-50%);
      img {
        border-radius: 15px;
        width: 90px;
        height: 90px;
        margin: auto;
      }

        ion-icon {
          width: 100px;
          height: 100px;
        }
      }
    }
