<ion-content [fullscreen]="true" color="light">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>

  <ion-content>

    <ion-card>
      <ion-card-header>
        <h2>Consultas agendadas</h2>
      </ion-card-header>
      <ion-card-content>
        Veja as consultas já agendadas para seu Pokémon.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <h2>Histórico de consultas</h2>
      </ion-card-header>
      <ion-card-content>
        Veja as consultas passadas que seu Pokémon já teve.
      </ion-card-content>
    </ion-card>

    <div style="display: flex;" class="ion-justify-content-center">
      <ion-button>Agendar nova consulta</ion-button>
      
    </div>


  </ion-content>
  <ion-tab-bar color="" slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="consultas">
      <ion-icon name="medical-outline"></ion-icon>
      <ion-label>Consultas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mapa">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>