<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>


  <div style="display: flex;" class="ion-justify-content-center">
    <ion-text color="dark">
      <h4>CONSULTAS</h4>
    </ion-text>
  </div>

  <ion-grid>
    <ion-row>
      <ion-card>
        <ion-card-content>
          <ion-button expand="block" fill="outline">Consultas agendadas</ion-button>
          <br>
          <div style="display: flex;" class="ion-justify-content-center">
            <ion-text color="dark">
              <h2 style="text-align: center">Veja as consultas já agendadas para seu Pokémon.</h2>
            </ion-text>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row>
      <ion-card>
        <ion-card-content>
          <ion-button expand="block" fill="outline">Histórico de consultas</ion-button>
          <br>
          <div style="display: flex;" class="ion-justify-content-center">
            <ion-text color="dark">
              <h2 style="text-align: center">Veja as consultas passadas que seu Pokémon já teve.</h2>
            </ion-text>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-card>
        <ion-card-content>
          <ion-button expand="block" fill="outline">Agendar nova consulta</ion-button>
          <br>
          <div style="display: flex;" class="ion-justify-content-center">
            <ion-text color="dark">
              <h2 style="text-align: center">Consulte profissionais, dias e horários disponíveis.</h2>
            </ion-text>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>