<ion-header class="ion-no-border" [translucent]="true">
  <div class="home-header ion-padding">
  </div>
</ion-header>


<ion-menu contentId="menu" menuId="menu" side="start" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>MENU</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item button routerLink="/sobre">
      <ion-label>SOBRE</ion-label>
    </ion-item>
    <ion-item button routerLink="/contato">
      <ion-label>CONTATO</ion-label>
    </ion-item>
  </ion-content>
</ion-menu>
<ion-router-outlet id="menu"></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<p></p>


<ion-row justify-content-center align-items-center style='height: 100%'>


  <ion-content>
    <ion-grid>
      <ion-row>
        <img src ="/assets/logo/logo.png">

        <ion-col align-self-center>
          <ion-button routerLink="/cadastro" expand="block" color="primary">CADASTRE-SE</ion-button>

          <br>
          <span class="divider line one-line">OU</span>
          <br>


          <ion-button routerLink="/login" expand="block" color="danger">ENTRE</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>
</ion-row>



<!-- 
  <ion-tab-bar color="" slot="bottom">


    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="mapa">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>


  </ion-tab-bar>
 -->